{
  "check-coverage": true,
  "per-file": true,
  "statements": 99,
  "branches": 100,
  "functions": 100,
  "lines": 99,
  "include": [
    "**/js/load-svg-file*.js",
    "**/js/index.js"
  ],
  "reporter": [
    "lcov",
    "json",
    "html",
    "text",
    "text-summary"
  ],
  "cache": true,
  "sourceMap": false,
  "instrument": false
}
